{% extends 'master.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {{ super }} Profile
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'vendor/pwt.datepicker/persian-datepicker.min.css' %}">
{% endblock %}

{% block content %}
    <section class="col-md-6 offset-md-3 mt-4">

        <div class="card">
            <div class="card-header">
                <h4>پروفایل</h4>
            </div>
            <div class="card-body">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}مهم : {% endif %}
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary btn-block" value="ذخیره تغییرات">
            </form>

            </div>

            <div class="card-footer">
                <a href="{% url 'Accounting:logout' %}" class="btn btn-danger btn-block">خروج از سیستم</a>
            </div>
        </div>

    </section>

{% endblock %}

{% block script %}
    <script src="{% static 'vendor/pwt.datepicker/persian-date.min.js' %}"></script>
    <script src="{% static 'vendor/pwt.datepicker/persian-datepicker.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("#id_date_of_birth").persianDatepicker({
                format: 'YYYY/MM/DD',
            });
        });
    </script>
{% endblock %}