{% extends 'master.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ super }} Verify
{% endblock %}

{% block content %}
    <section class="col-md-6 offset-md-3 mt-4">

        <div class="card">
            <div class="card-header">
                <h4>تأیید شماره موبایل</h4>
            </div>
            <div class="card-body">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}مهم : {% endif %}
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary btn-block" value="تأیید">
            </form>

            </div>
        </div>

    </section>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
       $('#div_id_password1').addClass('d-none')
       $('#div_id_password2').addClass('d-none')
    });
</script>
{% endblock %}